#################################################
# TERRAFORM
#################################################

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#################################################
# TERRAFORM VARIABLE FILES
#################################################

*.tfvars
*.tfvars.json

#################################################
# TERRAFORM LOCK FILE
#################################################

.terraform.lock.hcl

#################################################
# SENSITIVE FILES
#################################################

*.pem
*.key

#################################################
# ENV FILES
#################################################

.env

#################################################
# LOG FILES
#################################################

*.log

#################################################
# OS FILES
#################################################

.DS_Store
Thumbs.db

#################################################
# VS CODE
#################################################

.vscode/

#################################################
# IDEA
#################################################

.idea/

#################################################
# PYTHON
#################################################

__pycache__/
*.pyc

*.md
user.md
bootstrap/